@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>See Invoice Information of <a asp-controller="InvoiceManage" asp-action="GetCustomersByGroup" asp-route-lowerBound="A" asp-route-upperBound="E">Customers</a></p>
</div>
